name: build

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number ||  github.ref_name }}
  cancel-in-progress: ${{ github.ref_name != 'main' && !startsWith(github.ref_name, 'maint/') && github.event_name == 'push' }}

permissions:
  contents: read

env:
  DRY_RUN: ${{ github.ref_name != github.event.repository.default_branch && !startsWith(github.ref_name, 'maint/') }}

jobs:
  setup:
    runs-on: ubuntu-24.04
    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@fd8989f49fd9085ba8e3bab61af8f4bb6bdcf5ff # v3.14.44
        with:
          save-cache: true
          pnpm-cache: |
            node_modules
            packages/*/node_modules

  lint:
    needs:
      - setup
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@fd8989f49fd9085ba8e3bab61af8f4bb6bdcf5ff # v3.14.44

      - name: build
        run: pnpm build

      - name: lint
        run: |
          pnpm eslint -f gha
          pnpm prettier
          pnpm lint:types

  release:
    needs:
      - lint
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    permissions:
      contents: write
      issues: write
      id-token: write

    steps:
      # full checkout for semantic-release
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          show-progress: false
          filter: blob:none # we don't need all blobs

      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@fd8989f49fd9085ba8e3bab61af8f4bb6bdcf5ff # v3.14.44
        with:
          checkout: false
          pnpm-cache: |
            node_modules
            packages/*/node_modules

      - name: build
        run: pnpm build

      - name: semantic-release
        if: github.event_name == 'push'
        run: pnpm semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
